{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <section class="container mt-5">
        <div class="row row-table">
            <div class="col bg-color-facilities section-column">
                <div class="row">
                    <div class="col">
                        <h3 class="section-heading uppercase">Facilities</h3>
                    </div>
                </div>
                    <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                        <div class="row">
                            <div class="col-10">
                                <h4 class="facilities-heading uppercase">Fitness Studio</h4>
                                <p>
                                We have first class fitness studio equipped with the latest technology in the industry. 
                                They are new and working efficiently. Our well trained staff and 
                                trainers are all on hand to give necessary assistance. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container mt-5">
        <div class="row">
            <img src="/media/pic1.jpg" alt class="col-sm-12 col-md-4 mb-4">
            <img src="/media/pic2.jpg" alt class="col-sm-12 col-md-4 mb-4">
            <img src="/media/pic3.jpg" alt class="col-sm-12 col-md-4 mb-4">
            <img src="/media/pic4.jpg" alt class="col-sm-12 col-md-4 mb-4">
            <img src="/media/pic5.jpg" alt class="col-sm-12 col-md-4 mb-4">
            <img src="/media/pic6.jpg" alt class="col-sm-12 col-md-4 mb-4">
            <img src="/media/pic7.jpg" alt class="col-sm-12 col-md-4 mb-4">
            <img src="/media/pic8.jpg" alt class="col-sm-12 col-md-4 mb-4">
            <img src="/media/pic9.jpg" alt class="col-sm-12 col-md-4 mb-4">
        </div>
    </section>
    <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
        <div class="row">
            <div class="col-10">
                <h4 class="facilities-heading uppercase">Personal Trainers</h4>
                <p>
                We have first class personal trainers in all departments for those that want private training. They are very good trainers and their charges are affordable.  
                </p>
            </div>
            <div class="my-5">
                <h4>
                    <a href="{% url 'payment' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Become a Member Now</a>
                </h4>
            </div>
        </div>
    </div>
{% endblock %}
